.App {
  background-color: rgba(40, 110, 168, 0.137);
  display: flex;
}

.navbar-container {
  background-color: rgba(255, 255, 255, 0.972);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-bottom: 33%;
}

.navbar-container span {
  display: flex;
  color: black;
  font-size: large;
  margin-top: 20px;
  padding: 3px;
  text-decoration: none;
}

a {
  color: black;
  font-size: large;
  padding: 2px;
  text-decoration: none;
}

.navbar-container a:hover {
  color: rgba(0, 0, 0, 0.561);
}

.home-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home-section {
  margin: auto;
  text-align: center;
}

.home-section button {
  background-color: rgba(27, 158, 175, 0.651);
  border: 1px rgba(21, 114, 156, 0.205) solid;
  border-radius: 5px;
  margin: 50px;
  padding: 5px;
  width: 50%;
}

.home-section button a {
  color: aliceblue;
}

.home-section button:hover {
  background-color: rgba(27, 158, 175, 0.466);
}

.home-section h1, p {
  color: rgba(0, 0, 0, 0.698);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.releases-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.navbar-releases-links {
  background-color: rgba(27, 140, 155, 0.651);
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.navbar-releases-links a {
  color: rgb(247, 251, 255);
  font-size: large;
}

.navbar-releases-links a:hover {
  color: rgba(242, 247, 251, 0.801);
}

.table-releases-container {
  background-color: aliceblue;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.table-releases-container td {
  background-color: rgba(158, 160, 161, 0.13);
  border-radius: 5px;
  padding: 5px;
}
