.App {
  background-color: rgba(40, 110, 168, 0.137);
}

.navbar-container {
  background-color: rgba(255, 255, 255, 0.972);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 33%;
}

a {
  color: black;
  font-size: large;
  margin: 10%;
  padding: 3px;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.561);
}

.home-container , .releases-container {
  display: flex;
}

.home-section {
  margin: auto;
  text-align: center;
}

.home-section button {
  background-color: rgba(27, 158, 175, 0.651);
  border: 1px rgba(21, 114, 156, 0.205) solid;
  border-radius: 5px;
  margin: 50px;
  padding: 5px;
  width: 50%;
}

.home-section button a {
  color: aliceblue;
}

.home-section button:hover {
  background-color: rgba(27, 158, 175, 0.466);
}

.home-section h1, p {
  color: rgba(0, 0, 0, 0.698);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


